.nav-bar {
  display: flex;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2.5em;
  margin-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.link-nav {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  color: black;
}

#create-nav {
  width: 6em;
}

a:hover {
  color: gray;
}

.logo {
  font-size: 4rem;
  margin-left: 23rem;
}

.logout-button {
  font-family: inherit;
  font-size: 2rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer; 
}
